certifi==2020.6.20
Django==2.2.24
djangorestframework==3.11.2
djongo==1.3.3
elasticsearch==7.9.1
pymongo==3.11.0
pytz==2020.1
sqlparse==0.2.4
urllib3==1.26.5
django-rest-swagger==2.1.2
PyYAML==5.4
django-elasticsearch-dsl==7.1.4
django-elasticsearch-dsl-drf==0.20.8
elasticsearch-dsl==7.2.1
uWSGI==2.0.19.1
